:root {
  color-scheme: only light;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body * {
  box-sizing: border-box;
}
body {
  background: rgb(94, 94, 60);
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  position: relative;
  aspect-ratio: 1500 / 1062;
  width: 95vw;
  overflow: hidden;
  max-height: 100vh;
}

#stream {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  visibility: hidden;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  overflow: hidden;
}

svg#marc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  overflow: hidden;
  opacity: 0.7;
  /* visibility: hidden; */
}
svg#marc path {
  z-index: 999;
  transition: fill .5s ease;
}

svg text {
  fill: white;
}
img {
  width: 1500px;
  /* display: none; */
}
#coordinates {
  display: none;
}

nav, input, label {
  z-index: 99;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  margin: 20px 0;
  gap: 30px;
}
#buttons label {
  background: rgba(0,0,0,0.2);
  padding: 10px 15px 12px;
  border-radius: 15px;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label  {
  color: white;
  font-variant: all-small-caps;
}
input[id="original"]:checked ~ #buttons label[for="original"],
input[id="paint"]:checked ~ #buttons label[for="paint"],
input[id="solids"]:checked ~ #buttons label[for="solids"],
input[id="gradientsR"]:checked ~ #buttons label[for="gradientsR"],
input[id="motion"]:checked ~ #buttons label[for="motion"],
input[id="automatic"]:checked ~ #buttons label[for="automatic"] {
  background: rgba(255,255,255,0.2);
}
#buttons label:hover {
  background: rgba(255,255,255,0.2);
}

#options {
  display: none;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
input[id='automatic']:checked ~ #options,
input[id='paint']:checked ~ #options {
  display: flex;
}
input[id='paint']:checked ~ #options #auto_group {
  display: none;
}
input[id='automatic']:checked ~ #options #col_group {
  display: none;
}


@media (min-width: 800px) {
  body {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #buttons {
    flex-direction: column;
  }
  #auto_range {
    transform: rotate(-90deg);
  }
  [for="auto_range"] {
    transform: translate(100px);
  }
}

@media (min-width: 1700px) {
  svg#marc {
    /* height: 90vh; */
  }
}

/* landscape mobiles */
@media (min-resolution: 2dppx) and (orientation:landscape) {
/* @media screen and (orientation:landscape) { */
  body {
    /* height: 95vh; */
  }

}