:root {
  color-scheme: only light;
  box-sizing: border-box;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body {
  background: rgb(94, 94, 60);
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  position: relative;
  aspect-ratio: 1500 / 1062;
  width: 95vw;
}

#stream {
  position: absolute;
  top: auto;
  width: 1500px;
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  visibility: hidden;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: auto;
  width: 1500px;
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  overflow: hidden;
}

svg#marc {
  position: absolute;
  top: auto;
  width: 1500px;
  max-width: 95vw;
  max-height: 95vh;
  aspect-ratio: 1500 / 1062;
  overflow: hidden;
  opacity: 0.7;
  /* visibility: hidden; */
}
svg#marc path {
  z-index: 999;
  transition: fill .5s ease;
}

svg text {
  fill: white;
}
img {
  width: 1500px;
  /* display: none; */
}
#coordinates {
  display: none;
}

nav, input, label {
  z-index: 99;
}
#buttons {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px 0;
  gap: 30px;
}
#buttons label {
  background: rgba(0,0,0,0.2);
  padding: 10px 15px 12px;
  border-radius: 15px;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label  {
  color: white;
  font-variant: all-small-caps;
}
input:checked + label  {
  background: rgba(255,255,255,0.2);
}
#buttons label:hover {
  background: rgba(255,255,255,0.2);
}

#options {
  display: none;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
input[id='automatic']:checked ~ #options,
input[id='paint']:checked ~ #options {
  display: flex;
}


@media (min-width: 800px) {
  #stream {
    margin-left: 250px;
  }
  #canvas {
    margin-left: 250px;
  }
  svg#marc {
    margin-left: 250px;
  }
}

@media (min-width: 1700px) {
  svg#marc {
    height: 90vh;
  }
  #menu {
    position: absolute;
    left: 0;
    top: calc((100vh - 450px) / 2);
    width: 150px;
  }
  #buttons {
    flex-direction: column;
  }
  input[id='automatic']:checked ~ #auto_range + label {
    top: calc((115vh - 450px) / 2);
    left: calc(100vw - 120px);
  }
  input[id='automatic']:checked ~ #auto_range {
    transform: rotate(-90deg);
    width: 450px;
    height: 50px;
    top: calc((65vh - 450px) / 2);
    right: calc(-100vw);
  }
  input[id='paint']:checked ~ #col_picker + label {
    top: calc(50vh / 2);
    left: calc(100vw - 120px);
  }
  input[id='paint']:checked ~ #col_picker {
    width: 80px;
    height: 50px;
    top: calc(40vh / 2);
    left: calc(100vw - 120px);
  }
}

/* landscape mobiles */
@media (min-resolution: 2dppx) and (orientation:landscape) {
/* @media screen and (orientation:landscape) { */
  body {
    height: 95vh;
  }
  #menu {
    position: absolute;
    left: -10px;
    top: calc((100vh - 460px) / 2);
    width: 150px;
  }
 input[id='automatic']:checked ~ #auto_range + label {
    top: calc(40% + 5px);
    left: calc(100vw - 110px);
    height: 10px;
  }
  input[id='automatic']:checked ~ #auto_range {
    transform: rotate(-90deg);
    width: 300px;
    height: 50px;
    top: 40%;
    right: calc(-96vw);
  }
  input[id='paint']:checked ~ #col_picker + label {
    top: calc(40% + 50px);
    left: calc(100vw - 120px);
    height: 10px;
  }
  input[id='paint']:checked ~ #col_picker {
    width: 80px;
    height: 50px;
    top: 40%;
    left: calc(100vw - 120px);
  }
}