:root {
  color-scheme: only light;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body * {
  box-sizing: border-box;
}
body {
  background: rgb(94, 94, 60);
  height: 98vh;
  margin: 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  /* position: relative; */
  aspect-ratio: 1500 / 1062;
  width: 98vw;
  overflow: hidden;
  max-height: 98vh;
  margin: auto auto;
  top: -95vh;
}

#stream {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 98vw;
  max-height: 98vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  visibility: hidden;
  overflow: hidden;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 98vw;
  max-height: 98vh;
  aspect-ratio: 1500 / 1062;
  transform: scaleX(-1);
  overflow: hidden;
  /* z-index:9; */
}

svg#marc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 1500px; */
  max-width: 98vw;
  max-height: 98vh;
  aspect-ratio: 1500 / 1062;
  overflow: hidden;
  opacity: 0.9;
  /* visibility: hidden; */
}
svg#marc path {
  z-index: 999;
  transition: fill .5s ease;
}

svg text {
  fill: white;
}
img {
  width: 1500px;
  /* display: none; */
}
#coordinates {
  display: none;
}




nav, input, label {
  z-index: 99;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#buttons label {
  padding: 10px 15px 12px;
  border-radius: 15px;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label  {
  color: white;
  font-variant: all-small-caps;
}
input[id="original"]:checked ~ #buttons label[for="original"],
input[id="paint"]:checked ~ #buttons label[for="paint"],
input[id="solids"]:checked ~ #buttons label[for="solids"],
input[id="gradientsR"]:checked ~ #buttons label[for="gradientsR"],
input[id="motion"]:checked ~ #buttons label[for="motion"],
input[id="automatic"]:checked ~ #buttons label[for="automatic"] {
  background: rgba(255,255,255,0.2);
}
#buttons label:hover {
  background: rgba(255,255,255,0.2);
}


/* #hamburger:not(:checked) ~ #paint:checked ~ #options, */
/* #hamburger:not(:checked) ~ #automatic:checked ~ #options  */
#hamburger:not(:checked) ~ #options 
{
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
/* #hamburger:checked ~ #paint:checked ~ #options, */
/* #hamburger:checked ~ #automatic:checked ~ #options  */
#hamburger:checked ~ #options 
{
  top: -0vh;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input[id='paint']:checked ~ #options #auto_group {
  display: none;
}
input[id='automatic']:checked ~ #options #col_group {
  display: none;
}

label[for='hamburger'] {
  position: absolute;
  top: 0; 
  right: 10px;
  font-size: 3em;
  display: inline-block;
  transition: transform .5s;
  z-index: 999;
}
#hamburger {
  display: none;
}
#hamburger:checked + label {
  transform: rotate(-90deg);
}
nav.hamburger_menu {
  transform: translateY(-110%);
  width: 100vw;
  height: 50vh;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  z-index: 99;
  position: relative;
}
#hamburger:checked ~ nav.hamburger_menu {
  background-color: rgb(0 0 0 / .5);
  /* transform: translateX(0%); */
  transform: translateY(0%);
}
nav.hamburger_menu a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border: 1px dashed gray;
  border-radius: 10px;
}
nav.hamburger_menu a:hover {
  border: 1px solid gray;
}








@media (min-width: 800px) {
  #buttons {
    flex-direction: column;
    gap: 30px;
  }
  #auto_range {
    transform: rotate(-90deg);
  }
  [for="auto_range"] {
    transform: translate(100px);
  }
  nav.hamburger_menu {
    transform: translateX(-110%);
    width: 250px;
    height: 100vh;
  }
  #hamburger:checked ~ nav.hamburger_menu {
    transform: translateX(0%);
  }
  /* #options {
    left: 250px;
  } */
  #hamburger:checked ~ input[id='automatic']:checked ~ #options,
  #hamburger:checked ~ input[id='paint']:checked ~ #options {
    left: 250px;
    top: -100vh;
    transform: translateX(-210%);
  }
}
