:root {
  --light: rgb(251, 250, 233);
  --medium: rgba(63, 76, 98, 0.8);
  --dark: rgb(40, 48, 62);
  color-scheme: only light;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body#combined_page {
  /* background: rgb(94, 94, 60); */
  background: var(--dark);
  height: 100vh;
  display: flex;
  gap: 20px; 
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body#combined_page nav {
  background: var(--medium);
  box-shadow: 0 4px 5px rgb(0,0,0,0.3);
  padding: 1em;
  width: 100%;
  margin: 0;
}
body#combined_page nav.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body#combined_page nav.options {
  margin-top: -20px;
  box-shadow: inset 0 4px 5px rgb(0,0,0,0.3);
}
body#combined_page nav.subOptions {
  margin-top: -20px;
  box-shadow: inset 0 4px 5px rgb(0,0,0,0.3);
}
body#combined_page nav.tabs a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
nav.tabs a::before {
  margin-right: 15px;
  content: '⬤';
  color: rgb(63, 76, 98, 0);
}


body#combined_page nav.options #buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
body#combined_page nav.options #buttons input {
  display: none;
}
body#combined_page nav.options #buttons input:checked + label {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--light);
  text-underline-offset: 4px;
}
body#combined_page nav.options #buttons label {
  padding: 0.5em 1em;
  cursor: pointer;
}
body#combined_page nav.subOptions {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 3em;
  /* transition: all 0.4s; */
}
body#combined_page nav.subOptions.show {
  display: flex;
} 
body#combined_page nav.subOptions div:nth-of-type(1),
body#combined_page nav.subOptions div:nth-of-type(2) {
  display: none;
}
body#combined_page nav.subOptions div:nth-of-type(1).show,
body#combined_page nav.subOptions div:nth-of-type(2).show {
  display: block;
}
body#combined_page nav.subOptions label {
  padding: 0.5em 1em;
  cursor: pointer;
}









body#combined_page main {
  display: flex;
  gap: 10px; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body#combined_page main.outline * {
  stroke: black;
}

svg#marc {
  /* height: 1062px; */
  /* width: 1500px; */
  height: auto;
  width: 100%;
  aspect-ratio: 1.41/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
svg#mandrill {
  /* height: 876px; */
  /* width: 1280px; */
  width: 100%;
  height: auto;
  aspect-ratio: 1.41/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  /* position: absolute; */
  /* display: none; */
  /* bottom: 0; */
  /* left: 0; */
}
svg text {
  fill: white;
}

img#mandrill_img {
  /* height: 876px; */
  /* width: 1280px;  */
  width: 100%;
  height: auto;
  aspect-ratio: 1.4/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  /* position: absolute; */
  display: none;
  /* bottom: 0; */
  /* left: 0; */
}


body#combined_page main section.about img {
  width: 30%;
}

/* Basic tab styles */
.tabs a:link,
.tabs a:visited {
  color: var(--light);
  text-decoration: none;
  transition: all 0.4s;
  padding: .5em 2em;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link, a:visited {
  color: inherit;
}

/* CSS tabs */
.hideme,
.tab_container section {
  display: none;
}

.tab_container section:first-of-type {
  display: block;
  width: 100%;
}

/* …hide its div */
:target ~ .tab_container section:nth-of-type(1) {
  display: none;
}

/* Number of tabs set here.
   Highlight the current link tab… */
/* body#combined_page nav.tabs a:nth-child(3)::before */

.hideme:nth-of-type(1):target ~ .tabs a:nth-of-type(1)::before,
.hideme:nth-of-type(2):target ~ .tabs a:nth-of-type(2)::before,
.hideme:nth-of-type(3):target ~ .tabs a:nth-of-type(3)::before {
  margin-right: 15px;
  content: '⬤';
  color: var(--light);
  /* border: 1px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to bottom right, 
                                      rgb(251, 250, 233, 0), 
                                      rgb(251, 250, 233, 0), 
                                      rgb(162, 229, 253, 0.5));
    border-left: 0;
    border-top: 0; */
  transition: all 0.4s;
}
/* …set targeted link div background, and show its div */
.hideme:nth-of-type(1):target ~ .tab_container section:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tab_container section:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tab_container section:nth-of-type(3) {
  background: inherit;
  display: block;
  width: 100%;
}











#mandrill .coordinates {
  /* display: block; */
  display: none;
}
#marc .coordinates {
  /* display: block; */
  display: none;
}
#mandrill .coordinates.hide,
#marc .coordinates.hide {
  display: none;
}


@media (min-width: 1200px) {

  body#combined_page main {
    flex-direction: row;
    padding: 10px;
  }
}

@media (min-width: 1700px) {


  
}

