:root {
  color-scheme: only light;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body#combined_page {
  /* background: rgb(94, 94, 60); */
  background: rgb(40, 48, 62);
  height: 100vh;
  display: flex;
  gap: 20px; 
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body#combined_page nav {
  display: flex;
  justify-content: space-around;
  background: rgba(63, 76, 98, 0.8);
  box-shadow: 0 4px 5px rgb(0,0,0,0.3);
  padding: 1em;
  width: 100%;
  margin: 0;
}
body#combined_page nav.options {
  margin-top: -20px;
  box-shadow: inset 0 4px 5px rgb(0,0,0,0.3);
}
body#combined_page nav.tabs a:nth-child(1):before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  content: "";
  background: url(imgs/favicons/maskable_icon.png) no-repeat;
  background-size: 40px 40px;
}
body#combined_page nav.tabs a:nth-child(2):before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  content: "";
  background: url(imgs/favicons/maskable_icon_mandrill.png) no-repeat;
  background-size: 40px 40px;
}
body#combined_page nav.tabs a:nth-child(3):before {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  content: "";
  background: url(imgs/fania.jpeg) no-repeat;
  background-size: cover;
}










body#combined_page main {
  display: flex;
  gap: 10px; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body#combined_page main.outline * {
  stroke: black;
}

svg#marc {
  /* height: 1062px; */
  /* width: 1500px; */
  height: auto;
  width: 100%;
  aspect-ratio: 1.41/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
svg#mandrill {
  /* height: 876px; */
  /* width: 1280px; */
  width: 100%;
  height: auto;
  aspect-ratio: 1.41/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  /* position: absolute; */
  /* display: none; */
  /* bottom: 0; */
  /* left: 0; */
}
svg text {
  fill: white;
}

img#mandrill_img {
  /* height: 876px; */
  /* width: 1280px;  */
  width: 100%;
  height: auto;
  aspect-ratio: 1.4/1;
  /* 1103 × 782 */
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  /* position: absolute; */
  display: none;
  /* bottom: 0; */
  /* left: 0; */
}


body#combined_page main section.about img {
  width: 30%;
}

/* Basic tab styles */
.tabs a:link,
.tabs a:visited {
  color: rgb(251, 250, 233);
  text-decoration: none;
  transition: all 0.4s;
  padding: .5em 2em;
}
a:link, a:visited {
  color: inherit;
}

/* CSS tabs */
.hideme,
.tab_container section {
  display: none;
}

.tab_container section:first-of-type {
  display: block;
  width: 100%;
}

/* …hide its div */
:target ~ .tab_container section:nth-of-type(1) {
  display: none;
}

/* Number of tabs set here.
   Highlight the current link tab… */
.hideme:nth-of-type(1):target ~ .tabs a:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tabs a:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tabs a:nth-of-type(3) {
  /* text-decoration: underline; */
  /* text-underline-offset: 5px; */
  /* text-decoration-thickness: 2px; */
  /* text-decoration-style: wavy; */
  /* border-bottom: 2px solid rgb(251, 250, 233, 0.4); */
  /* border-right: 2px solid rgb(251, 250, 233, 0.4); */
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom right,
      rgb(251, 250, 233, 0),
      rgb(251, 250, 233, 1)
    ) 1 100%;
    border-left: 0;
    border-top: 0;
  transition: all 0.4s;
}
/* …set targeted link div background, and show its div */
.hideme:nth-of-type(1):target ~ .tab_container section:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tab_container section:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tab_container section:nth-of-type(3) {
  background: inherit;
  display: block;
  width: 100%;
}








#mandrill .coordinates {
  /* display: block; */
  display: none;
}
#marc .coordinates {
  /* display: block; */
  display: none;
}
#mandrill .coordinates.hide,
#marc .coordinates.hide {
  display: none;
}


@media (min-width: 1200px) {
  svg#marc {
    /* height: 70vh; */
  }
  body#combined_page main {
    flex-direction: row;
    padding: 10px;
  }
}

@media (min-width: 1700px) {


  svg#marc {
    /* height: 90vh; */
  }
  
}

