:root {
  --light: rgb(251, 250, 233);
  --medium: rgba(63, 76, 98, 0.8);
  --dark: rgb(40, 48, 62);
  color-scheme: only light;
}
* {
  box-sizing: border-box;
}
@media screen {
  :root {
    color-scheme: only light;
  }
}
body {
  /* background: rgb(94, 94, 60); */
  background: var(--dark);
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background: var(--medium);
  box-shadow: 0 4px 5px rgb(0,0,0,0.3);
  padding: 1em 0;
  width: 100%;
  margin: 0;
}
nav.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
nav.options {
  box-shadow: inset 0 4px 5px rgb(0,0,0,0.3);
}
nav.subOptions {
  box-shadow: inset 0 4px 5px rgb(0,0,0,0.3);
}
nav.tabs a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
nav.tabs a:nth-of-type(3) img {
  transform: scaleX(-1);
}
nav.tabs a::before {
  content: '';
}
nav.tabs a {
  text-decoration: none;
}



nav.options #buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
nav.options #buttons input {
  display: none;
}
nav.options #buttons input:checked + label {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--light);
  text-underline-offset: 4px;
}
nav.options #buttons label {
  padding: 0.5em 1em;
  cursor: pointer;
}
nav.subOptions {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3em;
  /* transition: all 0.4s; */
}
nav.subOptions.show {
  display: flex;
} 
nav.subOptions div:nth-of-type(1),
nav.subOptions div:nth-of-type(2), 
nav.subOptions div:nth-of-type(3), 
nav.subOptions div:nth-of-type(3) div 
{
  display: none;
}
nav.subOptions div:nth-of-type(1).show,
nav.subOptions div:nth-of-type(2).show, 
nav.subOptions div:nth-of-type(3).show
{
  display: flex;
  align-items: center;
}
nav.subOptions div:nth-of-type(3).show
{
  gap: 2em;
}
nav.subOptions div:nth-of-type(3).show div
{
  display: flex;
  align-items: center;
}
nav.subOptions label {
  padding: 0.5em 1em;
  cursor: pointer;
}
nav.subOptions input[type='checkbox'] {
  display: flex;
  width: 20px;
  height: 20px;
}
nav.subOptions div input[type='range'] {
  transform: rotate(0deg);
  margin: 0;
}








main {
  display: block;
  width: 100%;
  align-content: center;
  /* margin-left: 300px; */
}

main.outline * {
  stroke: black;
}

main section {
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto auto;
  max-width: 100vw;
  max-height: 100vh;
}
main section.fawn_section, 
main section.fawn_section #fawn_stream, 
main section.fawn_section #fawn_canvas, 
main section.fawn_section #fawn_svg 
{
  aspect-ratio: 1500 / 1062;
  /* 250:177 */
  /* 1.41:1 */
}
main section.mandrill_section, 
main section.mandrill_section #mandrill_stream, 
main section.mandrill_section #mandrill_canvas, 
main section.mandrill_section #mandrill_svg
{
  aspect-ratio: 1280 / 876;
  /* 1.46:1 */
  /* 320:219 */
}

#fawn_stream,
#mandrill_stream {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transform: scaleX(-1);
  /* margin: auto auto; */
  /* opacity: 0.5; */
  /* object-fit: cover; */
  object-fit: contain;
  visibility: hidden;
  /* object-position: left top; */
}

#fawn_canvas,
#mandrill_canvas {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transform: scaleX(-1);
  visibility: hidden;
  /* opacity: 0.5; */
  /* margin: auto auto; */
}

svg#fawn_svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}
svg#mandrill_svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 1;
}




svg text {
  fill: white;
}





main section.about .imgs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
main section.about .imgs figure {
  margin: 1em;
}
main section.about .imgs div {
  display: flex;
  flex-direction: column;
}
main section.about .imgs img {
  width: 300px;
  max-height: 474px;
  object-fit: contain;
}
main section.about h1 {
  font-size: 2em;
  margin-top: 0;
}
main section.about p {
  max-width: 800px;
  font-size: 1.2em;
}






/* Basic tab styles */
.tabs a:link,
.tabs a:visited {
  color: var(--light);
  text-decoration: none;
  transition: all 0.4s;
  padding: .5em 2em;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link, a:visited {
  color: inherit;
}

/* CSS tabs */
.hideme,
.tab_container section {
  display: none;
}

.tab_container section:first-of-type {
  display: block;
  width: 100%;
}

/* …hide its div */
:target ~ .tab_container section:nth-of-type(1) {
  display: none;
}



/* make first menu item default */
.tabs a:first-child {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--light);
  text-underline-offset: 4px;
}
/* if not targeted, un-highlight first tab style… */
:target ~ .tabs a:first-child {
  text-decoration: none;
}

/* Number of tabs set here.
  Highlight the current link tab… */
/* nav.tabs a:nth-child(3)::before */

.hideme:nth-of-type(1):target ~ .tabs a:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tabs a:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tabs a:nth-of-type(3) {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: var(--light);
  text-underline-offset: 4px;
}

/* …set targeted link div background, and show its div */
.hideme:nth-of-type(1):target ~ .tab_container section:nth-of-type(1),
.hideme:nth-of-type(2):target ~ .tab_container section:nth-of-type(2),
.hideme:nth-of-type(3):target ~ .tab_container section:nth-of-type(3) {
  background: inherit;
  display: block;
  width: 100%;
}

/* hide submenu when on about page */
.hideme:nth-of-type(3):target ~ nav.options,
.hideme:nth-of-type(3):target ~ nav.subOptions {
  display: none !important;
}



section.about {
  padding: 2em;

}
















#mandrill_svg .coordinates {
  /* display: block; */
  display: none;
}
#fawn_svg .coordinates {
  /* display: block; */
  display: none;
}
#mandrill_svg .coordinates.hide,
#fawn_svg .coordinates.hide {
  display: none;
}





@media (min-width: 420px) {

  nav {
    padding: 1em;
  }

}

/* @media (min-width: 1200px) { */

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  nav.tabs {
    box-shadow: 4px 0 5px rgb(0,0,0,0.3);
    flex-direction: column;
    max-width: 100px;
    /* position: fixed; */
    /* height: inherit; */
  }
  nav.tabs a {
    flex-direction: column;
    gap: 20px;
  }
  nav.options {
    max-width: 100px;
    box-shadow: inset 4px 0 5px rgb(0,0,0,0.3),
                4px 0 5px rgb(0,0 0,0.3);
    /* position: fixed; */
    /* left: 100px; */
    /* height: inherit; */
  }
  nav.options #buttons {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-width: 100px;
  }
  nav.subOptions {
    flex-direction: column;
    max-width: 100px;
    box-shadow: inset 4px 0 5px rgb(0,0,0,0.3),
                4px 0 5px rgb(0,0 0,0.3);
    /* position: fixed; */
    /* left: 200px; */
    /* height: inherit; */
  }
  nav.subOptions div {
    flex-direction: column;
  }
  nav.subOptions div input[type='range'] {
    transform: rotate(90deg);
    margin: 4em;
  }
  main {
    /* margin-left: 300px; */
    overflow: auto;
  }
  main section.about .imgs {
    flex-direction: row;
  }
  nav.tabs a img {
    margin-right: 0;
  }
}



@media (min-width: 1200px) {
  main section.about .imgs {
    justify-content: space-around;
  }
}